<footer>
  <div class="footer-content">
    <div class="s1">
      <h2>FONDEN MISSIONEN BLANDT HJEMLØSE</h2>
      <p>Vi arbejder for at give hjemløse og udsatte bedre vilkår.</p>
      <p>
        Målet er at gøre op med hjemløshed, ensomhed og psykisk mistrivsel.<br
        />
        Arbejdet sker på herberger, væresteder og i frivillige indsatser.
      </p>
    </div>

    <div class="s2">
      <h2>GENVEJE</h2>
      <ul>
        <li>Bliv Frivillig</li>
        <li>Støt</li>
        <li>Om os</li>
      </ul>
    </div>
    <div class="s3">
      <h2>KONTAKT</h2>
      <p>Slotsgade 2, 1. sal 2200 København N</p>
      <p>Tlf: 36161113 kontakt@weshelter.dk</p>
      <p>CVR 8096515</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div>
      <p class="copyright">
        Copyright © 2025 Fonden Missionen blandt Hjemløse
      </p>
    </div>
    <div class="social-icons">
      <img src="linkedin-icon.png" alt="LinkedIn" />
      <img src="facebook-icon.png" alt="Facebook" />
      <img src="instagram-icon.png" alt="Instagram" />
      <img src="x-icon.png" alt="X" />
    </div>
  </div>
</footer>
<style>
  footer {
    background-color: #1f325a;
    color: white;
    font-family: "Mulish", sans-serif;
    padding: 40px 20px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 0;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }

  .s1,
  .s2,
  .s3 {
    flex: 1;
    min-width: 250px;
  }
  .s2 {
    padding-left: 19%;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
  }

  p,
  li {
    font-size: 16px;
    line-height: 1.6;
  }
  li {
    margin: 30px 0px 30px 0px;
  }
  p {
    margin: 30px 0px 30px 0px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-icons {
    display: flex;
    gap: 25px;
    margin-top: 10px;
  }

  .social-icons img {
    width: 24px;
    height: 24px;
  }
  .copyright {
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
    max-width: 1500px;
    margin: 20px auto 0;
  }
  @media (max-width: 801px) {
    .footer-content {
      flex-direction: column;

      text-align: left;
    }

    .s1 {
      width: 100%;
      margin-bottom: 30px;
      text-align: left;
    }
    li {
      margin: 20px 0px 30px 0px;
    }
    .s2,
    .s3 {
      width: 50%;
      padding: 0;
    }

    .footer-columns {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .footer-bottom {
      text-align: left;
    }

    .social-icons {
      margin-top: 10px;
    }
  }
</style>
