---

---

<section class="bg-farve">
  <h2>MØD EN FRIVILLIG</h2>

  <div class="frivillig-karrusel">
    <input type="radio" name="slider" id="slide1" checked />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />

    <div class="slides">
      <article class="frivillig-container">
        <img class="lisa" src="/lisa.webp" alt="Lisa" />
        <img class="linje" src="/orangelinje.png" alt="orangelinje" />
        <div class="lisa-text">
          <h3>LISA</h3>
          <p>
            Lisa er 42 år og er uddannet socialrådgiver. Hun hjælper hjemløse
            med rådgivning om bolig og økonomi og brænder for at gøre en
            forskel.
          </p>
        </div>
      </article>

      <article class="frivillig-container">
        <img class="lisa" src="/Miguel.webp" alt="Morten" />
        <img class="linje" src="/orangelinje.png" alt="orangelinje" />
        <div class="lisa-text">
          <h3>MIGUEL</h3>
          <p>
            Miguel er 31 år og arbejder som kok. Hver uge laver han varme
            hjemmelavet måltider drevet i samarbejde med WeShelter, fordi han
            tror på fællesskabet og omsorg.
          </p>
        </div>
      </article>

      <article class="frivillig-container">
        <img class="lisa" src="/Mark.webp" alt="Sara" />
        <img class="linje" src="/orangelinje.png" alt="orangelinje" />
        <div class="lisa-text">
          <h3>MARK</h3>
          <p>
            Mark er 26 år og bruger sin fritid på at dele mad og varmt tøj ud
            til hjemløse gennem en NGO. Han sætter pris på de personlige
            samtaler, der kan sprede lidt håb.
          </p>
        </div>
      </article>
    </div>

    <div class="navigation">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
  </div>
</section>

<style>
  h2 {
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1f325a;
    letter-spacing: 3.3px;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem); /* Mindst 2rem, max 3rem */
    position: relative;
    top: 50px;
  }

  h3 {
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1f325a;
    letter-spacing: 3.3px;
    padding-bottom: 30px;
    font-size: clamp(2rem, 2vw, 4rem); /* Mindst 2rem, max 3rem */
  }

  .frivillig-container {
    display: flex;
    gap: 50px;
    position: relative;
    top: 150px;
    justify-content: center;
    padding: 20px;
  }

  img.lisa {
    width: 20%;
    height: auto;
    object-fit: contain;
  }

  img.linje {
    width: 1px;
    height: auto;
  }

  section.bg-farve {
    width: 100%;
    height: 100%;
    background-color: #fffcf6;
    min-height: 80vh;
  }

  p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 1.08px;
    max-width: 600px;

    font-size: 1.5rem;
  }

  @media (max-width: 900px) {
    .frivillig-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 100px;
    }

    img.lisa {
      width: 30%;
      height: auto;
      object-fit: contain;
    }

    img.linje {
      transform: rotate(90deg);
      position: absolute;
      top: 50%;
    }

    p {
      font-size: 1rem;
      max-width: 500px;
    }

    h3 {
      text-align: center;
      position: relative;
      top: -40px;
    }
  }

  @media (max-width: 700px) {
    img.linje {
      top: 40%;
    }
  }

  @media (max-width: 400px) {
    img.linje {
      top: 30%;
    }
  }
</style>
