---
const { activePage } = Astro.props;
---

<nav class="navbar">
  <div class="logo">
    <a href="/">WeShelter</a>
  </div>
  <ul class="nav-links">
    <li class={activePage === "bliv-frivillig" ? "active" : ""}>
      <a href="/bliv-frivillig">BLIV FRIVILLIG</a>
    </li>
    <li class={activePage === "stoet" ? "active" : ""}>
      <a href="/stoet">STØT</a>
    </li>
    <li class={activePage === "om" ? "active" : ""}>
      <a href="/om">OM</a>
    </li>
  </ul>
</nav>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
  }

  .logo a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    gap: 100px;
  }

  .nav-links li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
  }

  .nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
  }

  .nav-links li a:hover::after {
    transform: scaleX(1);
  }

  @media (max-width: 720px) {
    .nav-links {
      font-size: 1rem;

      gap: 20px;
    }

    .logo a {
      font-size: 1.5rem;
    }
  }
</style>
