---

---

<section class="side3-bg">
  <article class="step-by-step">
    <h2>SÅDAN BLIVER DU FRIVILLIG</h2>
  </article>
</section>

<style>
  h2 {
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 4rem); /* Mindst 2rem, max 3rem */
    color: #1f325a;
    letter-spacing: 3.3px;
    margin-top: 50px;
    text-align: center;
  }

  .side3-bg {
    width: 100%;
    height: 100%;
    background-color: #fffcf6;
    min-height: 100vh;
  }
</style>
