---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | WeShelter` : "WeShelter"}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">WeShelter</a>
        <a href="#">Bliv Frivillig</a>
        <a href="#">Støt</a>
        <a href="#">Om</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>Kontakt: kontakt@weshelter.dk</p>
      <p>Adresse: Storegade 1, 2200 København N</p>
      <p>CVR: 01010101</p>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
