---
import Navbar from "../components/Navbar.astro";
const { title, activePage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap" rel="stylesheet" />
    <title>{title ? `${title} | WeShelter` : "WeShelter"}</title>
  </head>
  <body>
    <Navbar activePage={activePage} />

    <main>
      <slot />
    </main>

    <footer>
      <p>Kontakt: kontakt@weshelter.dk</p>
      <p>Adresse: Storegade 1, 2200 København N</p>
      <p>CVR: 01010101</p>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
